<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Astrogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Cookie|Noto+Sans+JP&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f2795b618c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
